@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-color-text: #24292f;
    --shiki-token-constant: #0550ae;
    --shiki-token-string: #24292f;
    --shiki-token-comment: #6e7781;
    --shiki-token-keyword: #cf222e;
    --shiki-token-parameter: #24292f;
    --shiki-token-function: #8250df;
    --shiki-token-string-expression: #0a3069;
    --shiki-token-punctuation: #24292f;
    --shiki-token-link: #000012;
  }
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-6 text-right text-neutral-400;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-8;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-12;
}

code > [data-highlighted-line] {
  @apply bg-blue-200/50;
}

span[data-chars-id] {
  @apply !font-semibold rounded p-0.5;
}

span[data-chars-id] > span {
  @apply !text-inherit;
}

span[data-chars-id="red"] {
  @apply bg-red-400/25 !text-red-800;
}

span[data-chars-id="yellow"] {
  @apply bg-amber-400/25 !text-amber-800;
}

span[data-chars-id="blue"] {
  @apply bg-sky-400/25 !text-sky-800;
}
