@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 206 30% 98.8%;
  --foreground: 206 24% 9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 252 4% 32.8%;

  --border: 214.3 31.8% 91.4%;
  --ring: 214.3 31.8% 81.4%;
  --focus: 210 40% 96.1%;
}

.dark {
  --background: 206 24% 9%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 14%;
  --muted-foreground: 215.4 16.3% 70%;

  --border: 216 34% 17%;
  --ring: 216 34% 27%;
  --focus: 223 47% 14%;
}

:root {
  --shiki-color-text: var(--foreground);
  --shiki-token-constant: var(--background);
  --shiki-token-string: #24292f;
  --shiki-token-comment: #6e7781;
  --shiki-token-keyword: #cf222e;
  --shiki-token-parameter: #24292f;
  --shiki-token-function: #8250df;
  --shiki-token-string-expression: #0a3069;
  --shiki-token-punctuation: #24292f;
  --shiki-token-link: #000012;
}

.dark {
  --shiki-color-text: var(--foreground);
  --shiki-token-constant: var(--background);
  --shiki-token-constant: #79c0ff;
  --shiki-token-string: #a5d6ff;
  --shiki-token-comment: #8b949e;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #c9d1d9;
  --shiki-token-function: #d2a8ff;
  --shiki-token-string-expression: #a5d6ff;
  --shiki-token-punctuation: #c9d1d9;
  --shiki-token-link: #000012;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-6 text-right text-muted-foreground;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-8;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-12;
}

code > [data-highlighted-line] {
  @apply bg-blue-200/50;
}

span[data-chars-id] {
  @apply !font-semibold rounded p-0.5;
}

span[data-chars-id] > span {
  @apply !text-inherit;
}

span[data-chars-id="red"] {
  @apply bg-red-400/25 !text-red-800;
}

span[data-chars-id="yellow"] {
  @apply bg-amber-400/25 !text-amber-800;
}

span[data-chars-id="blue"] {
  @apply bg-sky-400/25 !text-sky-800;
}
